 <div class="container">
  <div class="row mt-5">
    <div class="col text-center">
      <img src="img/pratama.jpg" alt="Pratama Adi Ciptawan" width="200" height="200" class="img-thumbnail rounded-circle">
      <h1 class="display-4">Pratama Adi Ciptawan</h1>
      <p class="lead">Programer | Design Grafis</p>
    </div>
  </div>
 </div>
